h1 {
  color:red;
  float: left;
  font-size: xx-large;
}
.list {
  border: 5px solid black;
  margin: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.about {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.pic {
  size: 10000px;
}
.highlight {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.color{
  color: red;
}
image {
  size: 50 px;
}